.product-features {
    width: 100%;
    height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.product-header{
    width: 100%;
    height: 400px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(13,46,81,1) 69%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.product-nav{
  
  
   margin-top: -50px;
   width: 450px;
    cursor: pointer;
    transform: rotate(-90deg);
}
.product-images{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.product-image {
    border-bottom: 1px solid black;
    width: 100%;
    height: 600px;
}

@media screen and (max-width: 768px) {
    .product-header{
        width: 100%;
        height: 240px;
        background: rgb(34,193,195);
        background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(13,46,81,1) 69%);
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        color: rgba(255, 255, 255, 0.112);
    }
    .product-nav{
  
  
     position: relative;
        top: 20px;
        width: 180px;
         cursor: pointer;
         transform: rotate(-90deg);
     }

    .product-image {
        height: 300px;
    }




    
}
