.Footer-Images{
    background-color: #2b3034f1;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 2.8vh;
    text-decoration: none;

    .footer-images-header{
        align-self: center;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 43px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.557);
        text-decoration: none;
    }

    .footer-images-main{
        width: 100%;
        height: 90%;
     
        display: flex;
     
        justify-content: space-between;
        text-decoration: none;

    .footer-images-main-left{
       margin-top: 45px;
       width: 27%;
       height: 80%;
       border-radius: 10px;
       margin-left: 1%;
       text-decoration: none;
       
     }

   .footer-images-main-right{
        width: 70%;
        
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 5px;
        text-decoration: none;

        .footer-images-main-right-items{
           height: 18%;
           width: 13%;
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          text-decoration: none;
         
           
           
           img{
                width: 100%;
                height: 100%;
                transition: 500ms;
                cursor: pointer;
                border-radius: 6px;
                opacity: 0.9;
                text-decoration: none;
           }

           img:hover{
            cursor: pointer;
                transform: scale(1.2);
                border-radius: 20%;
                opacity: 1;
                z-index: 1;
                text-decoration: none;
              
           }

           img:hover + p{
           
             bottom: 14;
             font-size: 11px;
             font-weight: 200;
             letter-spacing: 1px;
             z-index: 2;
             text-align: center;
             text-decoration: none;
           }

           p{
            transition: 200ms;
            position: relative;
            bottom: 11%;
            color: white;
            font-family: "Poppins";
            font-size: 11px;
            font-weight: 200;
            text-decoration: none;
           
           }


        }
   }


 
}

}


@media screen and (max-width: 768px){

  .Footer-Images{
    background-color: #2b3034f1;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 2.8vh;
    padding-bottom: 10px;

    .footer-images-header{
        align-self: center;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 25px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.557);
    }

    .footer-images-main{
        width: 100%;
        height: 90%;
       gap: 15px;
        display: flex;
        flex-direction: column;
     
        justify-content: none;

    .footer-images-main-left{
       margin-top: 0px;
       width: 60%;
       height: 40%;
       border-radius: 10px;
       margin-left: 1%;
       align-self: center;
       
     }

   .footer-images-main-right{
    align-self: center;
        width: 95%;
        position: relative;
       
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 23px;
        padding: 5px;

        .footer-images-main-right-items{
           height: 100px;
           width: 29%;
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
         
           
           
           img{
                width: 100%;
                height: 100%;
                transition: 500ms;
                cursor: pointer;
                border-radius: 6px;
                opacity: 1;
           }

           img:hover{
            cursor: pointer;
                transform: scale(1);
                border-radius: none;
                opacity: 1;
                z-index: 1;
              
           }

           img:hover + p{
             color:none;
             bottom: none;
             font-size: none;
             font-weight: none;
             letter-spacing: none;
             z-index: none;
             text-align: center;
           }

           p{
            transition: 200ms;
            position: relative;
            bottom: 8%;
            color: white;
            font-family: "Poppins";
            font-size: 9px;
            font-weight: 200;
            letter-spacing: 1px;
           
           }


        }
   }


 
}

}
   

  
}