
.Navbar {
 top: 0px;
  position: absolute;
  z-index: 999999999999999999999999999999999;
    display: flex;
    width: 100%;
    height: 85px;
    justify-content: space-between;
     position: fixed;
    align-items: center;
    background-color: var(--navyLight);
  }
  
  .logom{
    left: 45px;
   top: 2px;
    position: relative;
    display: flex;
    width: 90px;
  }
  .Navbar ul {
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
    left: -14%;
    display: flex;
    list-style: none;
    color: rgba(255, 255, 255, 0.944);
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    gap: 25px;
    top: 4px;
    right: 01%;
  }

  .Navbar ul li {
    position: relative;
    display: flex;
    list-style: none;
    transition: 300ms;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    
  }


  .Navbar  ul li::after{
    content: "";
    position: absolute;
    background-color: #ec7b7b;
    height: 0.1rem;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}


.Navbar ul li:hover::after{
  width: 100%;
  color: red;
}



.navbar-button {
  top: px;
 position: relative;
 right: 5%;
 cursor: pointer;
 display: flex;
 height: 42px;
 width: 152px;
 background-color: #8976f7;
 align-self: center;
 justify-self: flex-end;
 border-radius: 35px;

 color: white;
 justify-content: center;
 align-items: center;
 font-family: "Poppins", sans-serif;
 letter-spacing: 2PX;
 font-weight: 600;
 font-size: 13px;
}
 
 
.navbar-dropdown{
  top:  63px;
  left: 160px;
  position:  absolute;
  width: 850px;
  height: 285px;
  background-color: #092542;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  border-top: 1px solid var(--pink);



}


  



 
 
 
 

