
.Navbar {
 top: 0px;
  position: absolute;
  z-index: 99;
    display: flex;
    width: 100%;
    height: 88px;
    justify-content: space-between;
     position: fixed;
    align-items: center;
    background-color: #2b3034;
  
  }

.navbar-side-menu-icon{
  display: none;
}
  
  .logom{
    left: 45px;
    top: 2px;
    position: relative;
    display: flex;
    width: 100px;
  }
  .navbar-items {
    cursor: pointer;
    position: relative;
    justify-content: center;
    align-items: center;
    left: -8%;
    display: flex;
    list-style: none;
    color: rgba(255, 255, 255, 0.944);
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    gap: 25px;
    top: 4px;
  
  
   
  }

  .navbar-li {
    position: relative;
    display: flex;
    list-style: none;
    transition: 300ms;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    
  }


  .navbar-li::after{
    content: "";
    position: absolute;
    background-color: rgb(220, 58, 58);
    height: 1.8px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.4s;
}


.navbar-li:hover::after{
  width: 100%;

}



.navbar-button {
  
 position: relative;
 right: -6%;
 cursor: pointer;
 display: flex;
 height: 42px;
 width: 152px;
 background-color: #f14545;
 align-self: center;
 justify-self: flex-end;
 border-radius: 35px;

 color: white;
 justify-content: center;
 align-items: center;
 font-family: "Poppins", sans-serif;
 letter-spacing: 2PX;
 font-weight: 600;
 font-size: 13px;
}
 
 

.navbar-dropdown{
 
  display: none;
}

.navbar-dropdown-hover{
  top:  75%;
  left: 10%;
  position:  absolute;
  width: 88.5%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.432);
  
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-top: 1px solid var(--pink);
  justify-content: flex-start;
  padding-left: 1px;
  animation: nav-dropdown-hover 400ms ease-out 0ms forwards;
  visibility: hidden;
  height: 0px;
}

@keyframes nav-dropdown-hover {
  0%{
    z-index: 9999;
    visibility: hidden;
    height: 0px;
  }
  100%{
    z-index: 9999;
    visibility: visible;
    height: 330px;
  }
  
}

.dropdown-items{
  z-index: 9999;
  opacity: 0;
 

}
.dropdown-item-hover{
  z-index: 9999;
 animation: dropdown-hovero 150ms ease-in 300ms forwards;
 opacity: 0;

}

@keyframes dropdown-hovero{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}


.dropdown-main-items{
  z-index: 9999;
  width: 1045px;
  height: 100%;
  display: flex;

}
.dropdown-image{
  z-index: 9999;
  left: 12px;
  top: 12px;
  position: relative;
  height: 286px;
  width: 240px;
  background-size: cover;
  background-position: center;
  
  border-radius: 15px;
  background-color: rgba(54, 9, 252, 0);
 
}


.dropdown-divider{
  z-index: 9999;

  color: rgba(255, 255, 255, 0.499);
  transform:  rotate(90deg);
  position: absolute;
  left: 150px;
  top: 50%;

}

.dropdown-item-line{
  z-index: 9999;

  top: -9px;
  left: 52px;
 
  display: flex;
  width: 160px;
  height: auto;

  position: relative;
}



.dropdown-head{
  z-index: 9999;
  bottom: 12px;
  position: relative;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;


}


.dropdown-head::before{
  content: "";
  position: absolute;
  background-color: rgb(218, 9, 9);
  height: 1.8px;
  width: 100px;
  left: 0;
  bottom: 90%;
  transition: 0.4s;
}


.dropdown-item-line ul {
  z-index: 9999;
  position: relative;
  top: 25px;
  right: 114px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  gap: 1px;
  text-align: start;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;

}




.dropdown-item-line li {
  color: white;
  position: relative;
  display: flex;
  list-style: none;
  transition: 300ms;
  cursor: pointer;
  width: 210px;
  letter-spacing: 1px;
  text-align: start;
  
}

.dropdown-item-line li:hover{
  color:rgb(255, 0, 0);
  font-weight: 700;
}

/* .dropdown-item-line li::after{
  content: "";
  position: absolute;
  background-color: rgb(255, 0, 0);
  height: 0.1rem;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.4s;
  
}


.dropdown-item-line li:hover::after{
width: 100%;



} */

.navbar-all-flags{
  position: relative;
  right: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navbar-flags{
  transition: 700ms;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  display: flex;
  gap: 15px;
 

 align-items: center;
 justify-content: center;
}

.navbar-flag-tr{width: 27px;
  cursor: pointer;

}
.navbar-flag-eng{width: 23px;
  cursor: pointer;}


.image-area{
  display: flex;

  
}

.image-area img{
  top: 1%;
  left: 45%;
  position: absolute;
  width: 40px;
   height: 25px;
}

.image-area2{
  display: flex;

  
}
.image-area2 img{
  top: 1%;
  left: 35%;
  position: absolute;
  width: 40px;
   height: 25px;
}

.image-area3{
  display: flex;

  
}
.image-area3 img{
  top: -1.6%;
  left: 53%;
  position: absolute;
  width: 40px;
   height: 25px;
}
.image-area4{
  display: flex;

  
}
.image-area4 img{
  top: 6.3%;
  left: 57%;
  position: absolute;
  width: 40px;
   height: 25px;
}


.image-area5{
  display: flex;

  
}

.image-area5 img{
  top: -1.6%;
  left: 32%;
  position: absolute;
  width: 40px;
   height: 25px;
}
.image-area6{
  display: flex;

  
}
.image-area6 img{
  top: 6.3%;
  left: 42%;
  position: absolute;
  width: 40px;
   height: 25px;
}


.image-area8{
  display: flex;

  
}
.image-area7{
  display: flex;

  
}
.image-area9{
  display: flex;

  
}

.image-area7 img{
  top: -1.6%;
  left: 36%;
  position: absolute;
  width: 40px;
   height: 25px;
}

.image-area8 img{
  top: 6.3%;
  left: 41%;
  position: absolute;
  width: 40px;
   height: 25px;
}

.image-area9 img{
  top: 14.2%;
  left: 61.7%;
  position: absolute;
  width: 40px;
   height: 25px;
}

.fincan-line{
  background-color: red;
  position: absolute;
  left: 58.4%;
  top: 42%;
  width: 30%;
  height: 2px;

}

.fincan-text{
  font-family: "Poppins";
  position: absolute;
  left: 58.4%;
  top: 44%;
  font-size: 17px;
  color: white;
  font-weight: 400;
  
}

.instagram-logo{
  position: absolute;
  left: 81%;
  bottom: 24%;
  width: 40px;
  cursor: pointer;
}
.youtube-logo{
  position: absolute;
  left: 77%;
  bottom: 18%;
  width: 50px;
  cursor: pointer;
}




  

  /* MOBİLE VERSİON */
@media screen and (max-width: 768px) {

  
  .Navbar {
    top: 0px;
     position: absolute;
      z-index: 99999999;
       display: flex;
       width: 100%;
       height: 70px;
       justify-content: space-between;
        position: fixed;
       align-items: center;
       background-color: #2b3034;
       
    
     }


  
   
     .navbar-hover-help{
     
       display: none;
  
     }
     
     .logom{
       left: 15px;
       top: 2px;
       position: relative;
       display: flex;
       width: 60px;
     }


     #second-li{

      display: none;
     }
     .navbar-items {
       cursor: pointer;
       position: relative;
       justify-content: center;
       align-items: center;
       left: -22%;
       display: flex;
       list-style: none;
       color: rgba(255, 255, 255, 0.944);
       font-family: "Poppins", sans-serif;
       font-size: 11px;
       gap: 10px;
       top: 4px;
       text-align: center;
     
      
     }
     #first-li{
      display: none;
     }

     .navbar-li {
      max-width: 65px;
       position: relative;
       display: flex;
       list-style: none;
       transition: 300ms;
       cursor: pointer;
       text-transform: uppercase;
       letter-spacing: 0.5px;
       
     }
   
   
     .navbar-li::after{
       content: "";
       position: absolute;
       background-color: #ec7b7b;
       height: 0.1rem;
       width: 0;
       left: 0;
       bottom: -5px;
       transition: 0.4s;
   }
   
   
   .navbar-li:hover::after{
     width: 100%;
   
   }
   
   
   
   .navbar-button {
    display: none;
   }
    
    
   
   .navbar-dropdown{
    
     display: none;
   }
   
   .navbar-dropdown-hover{
    display: none;
   }
 
   
 
   
   .navbar-all-flags{
     margin-right: -125px;
     display: flex;
     gap: 10px;
   }
   .navbar-flags{
     transition: 700ms;
     border-radius: 4px;
     height: 40px;
     width: 50px;
     display: flex;
     gap: 15px;
    background-color: rgba(255, 255, 255, 0.267);
    align-items: center;
    justify-content: center;
   }
   
   .navbar-flag-tr{width: 31px;
     cursor: pointer;
   
   }
   .navbar-flag-eng{width: 28px;
     cursor: pointer;}


     .navbar-side-menu-icon{
      display: flex;
      position: relative;
      margin-left: 85vw;
      z-index: 9999;
      position: fixed;
      top: 0;
      left: 0;
      width: 10%;
      height: 10%;
      color: white;
    }
    .instagram-logo{
  display: none;
    }
    .youtube-logo{
     display: none;
    }

  
}







  



 
 
 
 

