@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;1,700&family=Quicksand:wght@300;400;500;600;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,600;0,700;0,800;1,700&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Flex:opsz@8..144&family=Satisfy&display=swap');

.collections{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 
   width: 100%;
   height: 100%;
}

.collection-items{

   position: relative;
   display: flex;
   flex-wrap: wrap;
   background-color: rgba(0, 0, 0, 0.499);
   width: 100%;
  
   gap: 45px;
   top: 150px;
   padding-top: 60px ;
   justify-content: center;
 



}

.collection-item-selected{

   transition: 400ms;
   justify-content: center;
  
 
  border-radius: 15px;
  position: fixed;
  left: 10%;
  top: 17.5%;
 
  
  z-index: 999999999999;
  display: flex;
  flex-direction: column;
  width: 1292px;
  height: 575px;
  background-color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border: 2px solid var(--navy);
}


.collection-item{
   
   justify-content: center;

   border-radius: 15px;
   
   display: flex;
   flex-direction: column;
   width: 292px;
   height: 375px;
   background-color: rgb(255, 255, 255);
   cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 8px 8px, rgba(0, 0, 0, 0.09) 0px 12px 1px;
   animation: fadeInq 1s ease-in-out;
}

  @keyframes fadeInq { 
   0% {
      opacity: 0;
  } 
   100% {
         opacity: 1;
   }
}

  
.collection-item-image{
   position: relative;
   top: 28px;
   width: 270px;
 
}
.collection-item-image-selected{
   transition: 500ms;
   position: relative;
   top: 28px;
   width: 530px;
  
 
}
  
 
   
.collection-item-texts{
  z-index: 5;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
    width: 280px;
   align-items: center;
}

.collection-item-texts h2{
   position: relative;
   left: 5px;
   font-family: 'Roboto Flex', sans-serif;
   color: rgba(0, 0, 0, 0.712);
   font-size: 18px;
   text-align: center;
}

.collection-item-texts p {
   text-align: center;
   top: -17px;
   position: relative;
   font-family: 'Quicksand', sans-serif;
   font-size: 13px;
   color: #000000;
}
  

.add-collections{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form-area{
   flex-direction: column;
   display: flex;
   top: 100px;
   position: relative;
   width: 500px;
   height: 370px;
   background-color: rgba(198, 198, 205, 0.614);
   gap: 8px;
   border-radius: 10px;
   padding: 15px 40px;
}

.form-area button{
   position: relative;
   left: 0px;
   background-color: var(--purple);
}

.collection-item button{
   justify-self: self-start;
   align-self: flex-start;
   position: relative;
   
}


/* BOOTSTRAP */

.progress{
   display:inline-block;
 vertical-align:baseline
}

.progress-bar{
   float:left;
	width:0;
	height:100%;
	font-size:12px;
	line-height:20px;
	color:#fff;
	text-align:center;
	background-color:#428bca;
	-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition:width .6s ease;
	transition:width .6s ease;

   background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-size: 40px 40px;
   
}

.form-control {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: block;
   width: 100%;
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: black;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -webkit-transition: border-color ease-in-out 0.15s,
     box-shadow ease-in-out 0.15s;
   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
 }

 .form-control-buttton {
   letter-spacing: 1px;
     font-family: 'Poppins';
   display: block;
   width: 100%;
   height: 34px;
   padding: 6px 12px;
   font-size: 15px;
   line-height: 1.42857143;
   color: white;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -webkit-transition: border-color ease-in-out 0.15s,
     box-shadow ease-in-out 0.15s;
   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
 }


 .btn{
   font-family: 'Poppins', sans-serif;
   color: black;
  width: 40px;
  height: 85px;
   background-color: rgba(255, 0, 0, 0.716);
   border-radius: 6px;
   position: relative;
   top: 13px;
   left: 9px;
  
 }

