

.product-header{
  margin-top: 100px;
  width: 100%;
  height: 400px;
  background: rgb(87,91,94);
  background: linear-gradient(0deg, rgba(87,91,94,1) 26%, rgba(43,48,52,1) 67%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.product-nav{

z-index: 1;
position: relative;
top: -40px;
 width: 450px;
  cursor: pointer;
  transform: rotate(-90deg);
}
.product-images{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}





.product-features-test-item{
  
    position: relative;
    display: flex;
    height: 400px;
  width: 100%;
  justify-content: space-around;

}

.product-features-test-item-image:nth-child(1){
position: relative;
right: 5%;
width: 760px;
height: 435px;
}

.product-features-test-item-image:nth-child(2){
position: relative;
left: 5%;
width: 760px;
height: 435px;
}

.product-features-test-item-texts{
    max-width: 503px;
  display: flex;
  flex-direction: column;
  position: relative;
  
 
 gap: -20px;
 text-align: start;
}

.product-features-test-item-texts h2{
    font-family: 'Poppins', sans-serif;
    color: #374048;
    font-size: 35px;
    position: relative;
    top: 37px;
    text-transform: uppercase;

}

.product-features-test-item-texts p{
    font-family: 'Poppins', sans-serif;
    color: #C0CAD0;
    font-size: 18px;

}








.product-features-test-item2{
    margin-top: 35px;
    position: relative;
    display: flex;
    height: 400px;
  width: 100%;
  justify-content: space-around;

}

.product-features-test-item-texts2{
    max-width: 503px;
 display: flex;
 flex-direction: column;
 position: relative;
 top: 100px;
  
 gap: -20px;
 text-align: start;
}

.product-features-test-item-texts2 h2{
    font-family: 'Poppins', sans-serif;
    color: #374048;
    font-size: 35px;
    top: 37px;
    text-transform: uppercase;
    position: relative;

}

.product-features-test-item-texts2 p{
    font-family: 'Poppins', sans-serif;
    color: #C0CAD0;
    font-size: 18px;

}






.product-features-test-item3{
    margin-top: 35px;
    position: relative;
    display: flex;
    height: 400px;
    width: 100%;
   justify-content: space-around;

}

.product-features-test-item-texts3{
    max-width: 503px;
 display: flex;
 flex-direction: column;
 position: relative;
 top: 100px;
 
 gap: -20px;
 text-align: start;
}

.product-features-test-item-texts3 h2{
    font-family: 'Poppins', sans-serif;
    color: #374048;
    font-size: 35px;
    top: 37px;
    text-transform: uppercase;
    position: relative;
    width: 600px;

}

.product-features-test-item-texts3 p{
    font-family: 'Poppins', sans-serif;
    color: #C0CAD0;
    font-size: 18px;

}

















@media screen and (max-width: 768px) {
  
 .mob-product-features-test{
  top: 10vh;
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    

 }

 .mob-product-features-test-item2{
  width: 95%;

 }
 
 .mob-product-features-test-item-texts2{
   
  }


.mob-product-features-test-item-texts2 h2{
  font-family: 'Poppins', sans-serif;
  color: #374048c8;
  font-size: 35px;
  text-transform: uppercase;
  
  


}

.mob-product-features-test-item-texts2 p{
  font-family: 'Poppins', sans-serif;
  color: #C0CAD0;
  font-size: 18px;

}

.mob-product-features-test-item-image{
  width: 100%;
}

}








