@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;1,700&family=Satisfy&display=swap');
.slider {
    top: 80px;
    position: relative;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
     width: 100%;
    height: 600px;
    
   
  
  }
  .slider-main {
    background-color: white;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .slider-head{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 35px;
    left: 1px;

  }
  .slider h1{
    right: 5px;
    top: 45px;
    position: relative;
    align-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #092542d3;
    font-size: 48px;
    letter-spacing: 5px;
  }
  .divido{
   
    position: relative;
    width: 650px;
  }

  .image {
   top: -24px;
    overflow: hidden;
    position: relative;
  
    min-width: 1350px;
    width: 1350px;
    max-height: 600px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }

  
  .slider-main-buttons{
    display: flex;
    justify-content: center;
    gap: 35px;
    position: relative;
    top: 15px;
  }

  .right-arrow {
    
    z-index: 9999999999999999999999999999999999999999;
    position: relative;
   
    
    font-size: 50px;
    color: #092542d3;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transform: rotate(90deg);
    bottom: 50px;
    left: 33px;
  
  }
  
  .left-arrow {
  
    right: 40px;
    transform: rotate(-90deg);
    position: relative;
    font-size: 50px;
  
    color: #8976f7;
    z-index: 10;
    cursor: pointer;
    user-select: none;
   
  }
  
  .slide {
    opacity: 0;
    transition-duration: 300ms ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 700ms;
    transform: scale(1.08);
  }
  