@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;1,700&family=Quicksand:wght@300;400;500;600;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:ital,wght@0,600;0,700;0,800;1,700&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Flex:opsz@8..144&family=Satisfy&display=swap');

.collections{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 
   width: 100%;
   height: 100%;
}

.collection-items{

   position: relative;
   display: flex;
   flex-wrap: wrap-reverse;
   background-color: #2b3034;
   width: 100%;
  
   gap: 45px;
   top: 100px;
   padding-top: 30px;
   padding-bottom: 30px;
   justify-content: center;
 



}


.collection-item{
   
   justify-content: center;
   align-items: center;
   border-radius: 15px;
   
   display: flex;
   flex-direction: column;
   width: 292px;
   height: 375px;
   background-color: rgb(255, 255, 255);
   cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 8px 8px, rgba(0, 0, 0, 0.09) 0px 12px 1px;
   animation: fadeInq 1s ease-in-out;
}

  @keyframes fadeInq { 
   0% {
      opacity: 0;
  } 
   100% {
         opacity: 1;
   }
}


.collection-item-selected{

   transition: 400ms;
   justify-content: space-evenly;
   
   border-radius: 35px;
   position: fixed;
   left: 10%;
   top: 17.5%;
   z-index: 999999999999;
   display: flex;
   width: 80%;
   height: 525px;
   background-color: rgb(255, 255, 255);
   cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
   border: 3px solid var(--navy);
}
   
   
  



  
.collection-item-image{
   position: relative;

   width: 230px;
 
}
.collection-item-image-selected{
   align-self: center;
   transition: 500ms;
   position: relative;
   top: 0px;
   width: 400px;
   height: 400px;
  /* border: 2px solid red; */
   object-fit: cover;

   
}
  
   
.collection-item-texts-head{
   display: flex;
   flex-direction: column;
}

.collection-item-texts-head-selected{
display: none;
}


.collection-item-texts-head h2{
   position: relative;
   left: 5px;
   font-family: 'Roboto Flex', sans-serif;
   color: rgba(0, 0, 0, 0.712);
   font-size: 18px;
   text-align: center;
}

.collection-item-texts-head p {
   text-align: center;
   top: -17px;
   position: relative;
   font-family: 'Quicksand', sans-serif;
   font-size: 13px;
   color: #000000;
}
  
.collection-item-texts-right{
   display: none;
}

collection-item-texts-right-selected{
   display: flex;
  
   width: 500px;
 
}

.collection-item-texts-right-items{
   height: 300px;
   border-left: 3px solid rgb(62, 56, 56);
   padding-left: 45px;
   display: flex;
   flex-direction: column;
   width: 400px;
   line-height: 8px;
   font-size: 17px;
   position: relative;
   top: 110px;
  
  
}

.collection-item-texts-right-items h2{
   font-size: 22.5px;
   font-family: 'Roboto Flex', sans-serif;
   letter-spacing: 1.4px;
   color: #3f3838;
}
.collection-item-texts-right-items span{
   color: #080606;
   position: relative;
   top: -15px;

}



.collection-item-texts-right-items p:nth-child(2){
   color: #6f6f6f;
}

.collection-item-texts-right-items div{
   letter-spacing: 1.4px;
   font-family: 'Roboto Flex', sans-serif;
 
   font-weight: 600;
   display: flex;
   gap: 6px;

}



.add-collections{
   z-index: 15;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form-area{
   z-index: 15;
   flex-direction: column;
   display: flex;
   top: 100px;
   position: relative;
   width: 500px;
   height: 600px;
   background: rgb(87,91,94);
  background: linear-gradient(0deg, rgba(87,91,94,1) 26%, rgba(43,48,52,1) 67%);
   color: #fff;
   gap: 8px;
   border-radius: 10px;
   padding: 15px 800px;
   font-family: 'Poppins';
   font-size: 13px;
   z-index: -1;
}

.form-area button{
   z-index: 15;
   border-radius: 20px;
   position: relative;
   left: 10px;
   width: 200%;
   height: 80px;
   background-color: rgba(0, 0, 0, 0.529);
   color:rgba(5, 238, 238, 0.805);
   font-size: 19px;
   margin-bottom: 29px;
   border: 1px solid rgb(5, 238, 238);
   transition: 500ms;
}

.form-area button:hover{
   z-index: 15;
   border-radius: 20px;
   position: relative;
   left: 10px;
   width: 200%;
   height: 80px;
   background-color: rgba(0, 0, 0, 0.529);
   color:rgb(7, 254, 254);
   font-size: 19px;
   margin-bottom: 29px;
   border: 3px solid rgb(5, 238, 238);
   transition: 100ms;
}

.collection-item button{
   justify-self: self-start;
   align-self: flex-start;
   position: relative;
   
}


/* BOOTSTRAP */

.progress{
     z-index: 15;
   display:inline-block;
 vertical-align:baseline
}

.progress-bar{
   z-index: 15;
   float:left;
	width:0;
	height:100%;
	font-size:12px;
	line-height:20px;
	color:#fff;
	text-align:center;
	background-color:#428bca;
	-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition:width .6s ease;
	transition:width .6s ease;

   background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-size: 40px 40px;
   
}

.form-control {
   z-index: 15;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: block;
   width: 100%;
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.42857143;
   color: black;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -webkit-transition: border-color ease-in-out 0.15s,
     box-shadow ease-in-out 0.15s;
   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
 }

 .form-control-buttton {
   z-index: 15;
   top: 5px;
   position: relative;
   letter-spacing: 1px;
     font-family: 'Poppins';
   display: block;
   width: 100%;
   height: 34px;
   padding: 6px 12px;
   font-size: 15px;
   line-height: 1.42857143;
   color: white;
   background-color: #fff;
   background-image: none;
   border: 1px solid #ccc;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -webkit-transition: border-color ease-in-out 0.15s,
     box-shadow ease-in-out 0.15s;
   transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
 }


 .btn{
   z-index: 15;
   font-family: 'Poppins', sans-serif;
   color: black;
   width: 20px;
   height: 20px;
   background-color: rgba(255, 0, 0, 0.716);
   border-radius: 6px;
   position: absolute;
  
  
 }

