

.NavbarSide{
    display: none;
}

@media screen and (max-width: 767px) {
    .NavbarSide{

        display: flex;
        align-self: flex-end;
        position: fixed;
        left: 25vw;
        height: 100vh;
        width: 75vw;
        background-color: #2b3034f8;
    
        justify-content: center;
        animation: sideAnim 500ms ease-in-out;
        z-index: 100;
  
    
        @keyframes sideAnim{
            0%{
                transform: translateX(100%);
            }
            100%{
                transform: translateX(0%);
            }
        }
           h2:nth-child(1){
              left: 4vw;
              font-family: "Poppins";
              color: rgb(220, 38, 38);;
              font-weight: 600;
              position: absolute;
              top: 8.5vh;
              font-size: 27px;
              z-index: 999999999;
              border-bottom: 1px solid rgb(211, 36, 36);;
              letter-spacing: 0.8px;
           }


           h2:nth-child(3){
              left: 3vw;
              font-family: "Poppins";
              color: rgb(222, 217, 217);
              font-weight: 300;
              position: relative;
              top: 60.5vh;
              font-size: 29px;
              z-index: 999999999;
        
           }
           h2:nth-child(4){
              left: 3vw;
              font-family: "Poppins";
              color: rgb(222, 217, 217);
              font-weight: 300;
              position: absolute;
              top: 70.5vh;
              font-size: 29px;
              z-index: 999999999;
            
           }
           h2:nth-child(5){
              left: 3vw;
              font-family: "Poppins";
              color: rgb(222, 217, 217);
              font-weight: 300;
              position: absolute;
              top: 80.5vh;
              font-size: 29px;
              z-index: 99999;
            
           }
           .navbar-side-accordion{
            
            position:absolute;
            top: 21vh;
            width: 68vw;

             .navbar-side-accordion-items{
              
                width: 100%;
                align-items: center;
                justify-content: center;
                gap: 20px;
                display: flex;
                flex-wrap: wrap;
                
             }
            
          
           }


        }
}
    



