@font-face {
    font-family: Sofia-Medium;
    src: url(https://static1.squarespace.com/static/5ffcb5ab91eb492f96d336f9/t/623b8115228e7c135751b8b6/1648066838560/Sofia+Pro+Medium+Az.otf);
}
@font-face {
    font-family: Sofia-Light;
    src: url(https://static1.squarespace.com/static/5ffcb5ab91eb492f96d336f9/t/623b8110c38c234c268b5098/1648066832999/Sofia+Pro+Light+Az.otf);
}



.AboutUs{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
    background: linear-gradient(0deg, rgb(25, 27, 29) 26%, rgba(43,48,52,1) 67%);
  
    display: flex;
    flex-direction: column;

}
.about-us-main{
    top: 45px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
      width: 100%;
     height: 100vh;
     display: flex;
     animation: aboutPage 700ms ease 1 100ms forwards;
     overflow: hidden;
}

@keyframes aboutPage {
    to {
      height: 67vh;
    }
  } 

.left-image{
    background-position: center;
    background-size: cover;
    width: auto;
    height: 430px;
}

.about-us-main-center h2 {
    z-index: 2;
    bottom: 23vh;
    border-bottom: 2px solid rgb(151, 44, 44);
    position: relative;
    font-size: 49px;
    letter-spacing: 4px;
    font-family: Sofia-Medium;
    color:  white;
}
.about-us-image{
    top: -25px;
    position: relative;
    background-position: center;
    background-size: cover;
    height: 356px;
    width: 620px;
    display: none;
}




.about-us-footer{
    top: 45px;
    position: relative;
   display: flex;
    width: 100%;
    height: 28vh;
    display: flex;
   
    justify-content: space-around;
    align-items: center;
   
}

.about-us-footer-arrow{
    background-position: center;
    background-size: cover;
   
    height: 50px;
}
.footer-card{
    margin-right: 55px;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    justify-content: center;
    align-items: center;
}

.footer-card-head{
    margin-top: 18px;
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;
}

.footer-card-head h4{
    font-family: Sofia-Medium;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
}
.footer-card p {
    font-family: Sofia-Light;
    color: rgba(255, 255, 255, 0.784);
    font-size: 15px;
    font-weight: 200;
    max-width: 300px;
    text-align: center;
    position: relative;
    top: -21px;
    left: 25px;
}

.footer-card-head-logo{
    width: 54px;
    height: 54px;
}



.about-us-main-left{
    left: 25px;
 
     position: relative;
    display: flex;
    height: 350px;
    width: 356px;
   
    flex-direction: column;
    align-items: center;
}

.about-us-main-left h2{
    font-family: Sofia-Medium;
    letter-spacing: 2px;
    color: white;
    
}
   
.about-us-main-left p{
    font-family: Sofia-Light;
    text-align: center;
    position: relative;
    color: rgba(255, 255, 255, 0.644);
   
}
 
  
.about-us-main-right{
    right: 25px;
 top: 8px;
    position: relative;
    display: flex;
    height: 340px;
    width: 356px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.about-us-main-right h2{
    font-family: Sofia-Medium;
    letter-spacing: 2px;
    color: white;
    
}
   
.about-us-main-right p{
    font-family: Sofia-Light;
    text-align: center;
    position: relative;
    color: rgba(255, 255, 255, 0.644);
  
}
 




















@media screen and (max-width: 768px) {
  
    .AboutUs{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
         background: linear-gradient(0deg, rgb(25, 27, 29) 26%, rgba(43,48,52,1) 67%);
         margin-top: 7vh;
         display: flex;
         flex-direction: column;
         gap: 80px;
     
     }
     .about-us-main{
        justify-content: none;
         position: relative;
         display: flex;
         gap: 40px;
    
      
           width: 100%;
          height: 100%;
          flex-direction: column;
          animation: none;
          overflow: hidden;
     }
   
     
     .left-image{
         background-position: center;
         background-size: cover;
         width: auto;
         height: 430px;
         display: none;
     }
     
     .about-us-main-center h2 {
         z-index: 2;
         bottom: 0vh;
         border-bottom: 2px solid rgb(151, 44, 44);
         position: relative;
         font-size: 49px;
         letter-spacing: 4px;
         font-family: Sofia-Medium;
         color:  white;
         display: none;
     }
     .about-us-image{
       
         position: relative;
         background-position: center;
         background-size: cover;
         height: 356px;
         width: 620px;
         display: none;
     }
     
     
     
     
     .about-us-footer{
         top: 0px;
         position: relative;
         display: flex;
         width: 100%;
         height: auto;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
        
     }
     
     .about-us-footer-arrow{
         background-position: center;
         background-size: cover;
        
         height: 50px;
     }
     .footer-card{
         margin-right: 55px;
         display: flex;
         flex-direction: column;
         max-width: 350px;
         justify-content: center;
         align-items: center;
     }
     
     .footer-card-head{
         margin-top: 18px;
         display: flex;
         gap: 17px;
         justify-content: center;
         align-items: center;
     }
     
     .footer-card-head h4{
         font-family: Sofia-Medium;
         color: white;
         font-size: 25px;
         letter-spacing: 1px;
     }
     .footer-card p {
         font-family: Sofia-Light;
         color: rgba(255, 255, 255, 0.784);
         font-size: 15px;
         font-weight: 200;
         max-width: 300px;
         text-align: center;
         position: relative;
         top: -21px;
         left: 25px;
     }
     
     .footer-card-head-logo{
         width: 54px;
         height: 54px;
     }
     
     
     
     .about-us-main-left{
        
        left: 0px;
          position: relative;
         display: flex;
        
         width: 80%;
         flex-direction: column;
         align-items: center;
     }
     
     .about-us-main-left h2{
         font-family: Sofia-Medium;
         letter-spacing: 2px;
         color: white;
         
     }
        
     .about-us-main-left p{
         font-family: Sofia-Light;
         text-align: center;
         position: relative;
         color: rgba(255, 255, 255, 0.644);
        
     }
      
       
     .about-us-main-right{
        right: 0px;
         border-bottom: 1px solid rgba(255, 255, 255, 0.728);
         top: 0px;
         position: relative;
         display: flex;
         height: auto;
         width: 80%;
         align-items: center;
         justify-content: space-around;
         flex-direction: column;
     }
     .about-us-main-right h2{
         font-family: Sofia-Medium;
         letter-spacing: 2px;
         color: white;
         
     }
        
     .about-us-main-right p{
         font-family: Sofia-Light;
         text-align: center;
         position: relative;
         color: rgba(255, 255, 255, 0.644);
       
     }
      
     
 
}